* {
  /* border: 0px dotted gray; */
  font-size: 10px;
  padding: 0;
  margin: 0;
  font-family: "S-CoreDream-3Light";
}
.topMenu-bgcolor {
  background-color: rgb(241, 227, 196);
}
.topMenu {
  height: 50px;
  width: 1500px;
  overflow: hidden;
  margin: 0 auto;
}
.logo {
  font-family: "Parisienne", cursive;
  color: rgb(62, 43, 44);
  display: block;
  width: 200px;
  font-size: 3rem;
  font-weight: bold;
}

.topMenu > ul li {
  padding: 0;
  list-style: none;
  line-height: 50px;
  text-align: center;
  float: left;
}
.menulink {
  text-decoration: none;
  color: rgb(62, 43, 44);
  display: block;
  width: 200px;
  font-size: 2.3rem;
  font-weight: bold;
  font-family: "S-CoreDream-3Light";
}

.title {
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
}
.table {
  width: 700;
  border-spacing: 10px;
}
.join {
  font-size: 4rem;
  text-align: center;
  margin: 40px;
  color: rgb(62, 43, 44);
}
.th-color > th {
  background-color: rgb(62, 43, 44);
  color: rgb(241, 227, 196);
  font-size: 2rem;
}

.th-size {
  padding: 5px;
}
.text-align {
  text-align: center;
}
.id {
  text-align: center;
  font-size: 1.2rem;
}
.flex-around {
  display: flex;
  justify-content: space-around;
}
.w-btn {
  position: relative;
  border: none;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  font-size: 2rem;
  transition: 0.25s;
  margin: 30px;
}
.w-btn-green {
  background-color: #77af9c;
  color: #d7fff1;
}
.footer {
  width: 100%;
  height: 80px; /* footer의 높이 */
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(241, 227, 196);
  color: rgb(62, 43, 44);
}
.footer > div {
  font-size: 1.2rem;
  text-align: center;
  margin: 10px auto;
}
.input-size {
  width: 150px;
  height: 20px;
  font-size: 1.5rem;
}
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
