table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.rogin {
  font-size: 20px;
  text-align: center;
  margin: 50px 250px 0px 0px;
}

th {
  background-color: rgb(255, 229, 153);
  padding-right: 50px;
}
.text-align {
  text-align: center;
  margin-left: 250px;
}
.butten {
  font-size: 2rem;
  margin: 20px;
}
.w-btn {
  position: relative;
  border: none;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  margin-left: 150px;
}
.w-btn-green {
  background-color: #77af9c;
  color: #d7fff1;
}
