* {
  /* border: 0px dotted gray; */
  font-size: 10px;
  padding: 0;
  margin: 0;
  font-family: "S-CoreDream-3Light";
}
.topMenu-bgcolor {
  background-color: rgb(241, 227, 196);
}
.topMenu {
  height: 50px;
  width: 1500px;
  overflow: hidden;
  margin: 0 auto;
}
.logo {
  font-family: "Parisienne", cursive;
  color: rgb(62, 43, 44);
  display: block;
  width: 200px;
  font-size: 3rem;
  font-weight: bold;
}

.topMenu > ul li {
  padding: 0;
  list-style: none;
  line-height: 50px;
  text-align: center;
  float: left;
}
.menulink {
  text-decoration: none;
  color: rgb(62, 43, 44);
  display: block;
  width: 200px;
  font-size: 2.3rem;
  font-weight: bold;
  font-family: "S-CoreDream-3Light";
}
/*여기부터 시작  */

.w-btn {
  position: relative;
  border: none;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgb(0 0 0 / 20%);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}
.w-btn-green {
  background-color: #77af9c;
  color: #d7fff1;
}

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/*
font-size: 20px;

margin: 50px 250px 0px 0px;
font-family: "S-CoreDream-3Light";
ont-size: 4rem;
text-align: center;
margin: 40px;
.text-align {
  text-align: center;
  margin-left: 250px;
}
  
 
 
  width: 120px;
    margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 400px;
  height: 90px;
  text-align: center;
  font-family: "paybooc-Light", sans-serif;






.container {
  display: flex;
  justify-content: center;
}
.table{
  text-align: center;
  width: 700;
  border-spacing: 10px;
}
.rogin {
  font-size: 4rem;
  text-align: center;
  margin: 40px; text-align: center;
    
}
.th-size{
  padding: 10px;
  margin: 20px 0px 0px 40px;
  font-size: 30px;
}
.td-size{
  width: 150px;
  height: 20px;
  font-size: 1.5rem;

}

tr> th {
  background-color: rgb(62, 43, 44);
  color: rgba(255, 255, 255, 0.7);
  padding: 12px 20px 10px 20px;
  margin: 50px 20px 0px 0px;
}