* {
  /* border: 0px dotted gray; */
  font-size: 10px;
  padding: 0;
  margin: 0;
  font-family: "S-CoreDream-3Light";
}
.topMenu-bgcolor {
  background-color: rgb(241, 227, 196);
}
.topMenu {
  height: 50px;
  width: 1500px;
  overflow: hidden;
  margin: 0 auto;
}
.logo {
  font-family: "Parisienne", cursive;
  color: rgb(62, 43, 44);
  display: block;
  width: 200px;
  font-size: 3rem;
  font-weight: bold;
}

.topMenu > ul li {
  padding: 0;
  list-style: none;
  line-height: 50px;
  text-align: center;
  float: left;
}
.menulink {
  text-decoration: none;
  color: rgb(62, 43, 44);
  display: block;
  width: 200px;
  font-size: 2.3rem;
  font-weight: bold;
  font-family: "S-CoreDream-3Light";
}
.aside {
  width: 100px;
}
.aside-font {
  color: rgb(62, 43, 44);
  padding: 2px;
  width: 200px;
  font-size: 2rem;
  list-style: none;
  background-color: rgb(173, 205, 185);
}
.aside-link {
  padding: 0px;
  width: 200px;
  text-decoration: none;
  list-style: none;
  font-size: 2rem;
  color: rgb(62, 43, 44);
  background-color: rgb(241, 227, 196);
}
.table {
  border: 1px solid black;
}
.table > th,
td {
  font-size: 2rem;
  border: 1px solid black;
}
.th-font {
  font-size: 2rem;
  border: 1px solid black;
}
.section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.butten {
  margin: 30px;
  font-size: 3rem;
}
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
