* {
  /* border: 1px dotted gray; */
  font-size: 10px;
  padding: 0;
  margin: 0;
  font-family: "S-CoreDream-3Light";
}
.topMenu-bgcolor {
  background-color: rgb(241, 227, 196);
}
.topMenu {
  height: 50px;
  width: 1500px;
  overflow: hidden;
  margin: 0 auto;
}
.logo {
  font-family: "Parisienne", cursive;
  color: rgb(62, 43, 44);
  display: block;
  width: 200px;
  font-size: 3rem;
  font-weight: bold;
}

.topMenu > ul li {
  padding: 0;
  list-style: none;
  line-height: 50px;
  text-align: center;
  float: left;
}
.menulink {
  text-decoration: none;
  color: rgb(62, 43, 44);
  display: block;
  width: 200px;
  font-size: 2.3rem;
  font-weight: bold;
  font-family: "S-CoreDream-3Light";
}
.aside {
  width: 170px;
}
.aside-font {
  list-style-type: none;
  color: rgb(62, 43, 44);
  padding: 2px;

  font-size: 2rem;
  background-color: rgb(173, 205, 185);
}
.aside-link {
  text-decoration: none;
  list-style: none;
  font-size: 2rem;
  color: rgb(62, 43, 44);
}
.aside-link-bgcolor {
  padding: 2px;
  background-color: rgb(241, 227, 196);
}
.table {
  border: 1px solid black;
}
.table > th,
td {
  font-size: 2rem;
  border: 1px solid black;
}
.th-font {
  font-size: 2rem;
  border: 1px solid black;
}
.section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.butten {
  font-size: 3rem;
  margin: 30px;
}
.w-btn {
  position: relative;
  border: none;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}
.w-btn-green {
  background-color: #77af9c;
  color: #d7fff1;
}

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
