* {
  /* border: 1px dotted gray; */
  font-size: 10px;
  padding: 0;
  margin: 0;
  font-family: "S-CoreDream-3Light";
}
.topMenu-bgcolor {
  background-color: rgb(241, 227, 196);
}
.topMenu {
  height: 50px;
  width: 1500px;
  overflow: hidden;
  margin: 0 auto;
}
.logo {
  font-family: "Parisienne", cursive;
  color: rgb(62, 43, 44);
  display: block;
  width: 200px;
  font-size: 3rem;
  font-weight: bold;
}

.topMenu > ul li {
  padding: 0;
  list-style: none;
  line-height: 50px;
  text-align: center;
  float: left;
}
.menulink {
  text-decoration: none;
  color: rgb(62, 43, 44);
  display: block;
  width: 200px;
  font-size: 2.3rem;
  font-weight: bold;
  font-family: "S-CoreDream-3Light";
}

.title {
  text-align: center;
  color: rgb(62, 43, 44);
  margin: 20px;
  font-weight: 800;
  font-size: 4rem;
}
.aside {
  width: 170px;
}
.aside-font {
  list-style-type: none;
  color: rgb(62, 43, 44);
  padding: 6px;

  font-size: 2rem;
  background-color: rgb(173, 205, 185);
}
.aside-link {
  text-decoration: none;
  list-style: none;
  font-size: 2rem;
  color: rgb(62, 43, 44);
  padding: 6px;
}
.aside-link-bgcolor {
  padding: 2px;
  background-color: rgb(241, 227, 196);
}
.table {
  border: 1px solid white;
  width: 670px;
}
.table > th,
td {
  font-size: 2rem;
  text-align: center;
  padding: 3px;
}
.que-num-color {
  color: white;
  background-color: rgb(141, 144, 142);
}
.th-font {
  font-size: 2rem;
  padding: 2px;
}
.answer-bgcolor {
  background-color: rgb(241, 227, 196);
  color: rgb(62, 43, 44);
}
.answer-bgcolor > td {
  width: 140px;
}
.que-bgcolor {
  background-color: rgb(62, 43, 44);
  color: rgba(255, 255, 255, 0.7);
}
.num-bgcolor {
  background-color: rgb(224, 222, 217);
}
.section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.w-btn {
  position: relative;
  border: none;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  font-size: 2rem;
  transition: 0.25s;
  margin: 30px;
}
.w-btn-green {
  background-color: #77af9c;
  color: #d7fff1;
}

.footer {
  width: 100%;
  height: 80px; /* footer의 높이 */
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(241, 227, 196);
  color: rgb(62, 43, 44);
}
.footer > div {
  font-size: 1.2rem;
  text-align: center;
  margin: 10px auto;
}

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
