* {
  /* border: 0px dotted gray; */
  font-size: 10px;
  padding: 0;
  margin: 0;
  font-family: "S-CoreDream-3Light";
}
.topMenu-bgcolor {
  background-color: rgb(241, 227, 196);
}
.topMenu {
  height: 50px;
  width: 1500px;
  overflow: hidden;
  margin: 0 auto;
}
.logo {
  font-family: "Parisienne", cursive;
  color: rgb(62, 43, 44);
  display: block;
  width: 200px;
  font-size: 3rem;
  font-weight: bold;
}

.topMenu > ul li {
  padding: 0;
  list-style: none;
  line-height: 50px;
  text-align: center;
  float: left;
}
.menulink {
  text-decoration: none;
  color: rgb(62, 43, 44);
  display: block;
  width: 200px;
  font-size: 2.3rem;
  font-weight: bold;
  font-family: "S-CoreDream-3Light";
}
.title {
  text-align: center;
  color: rgb(62, 43, 44);
  margin: 20px;
  font-weight: 800;
  font-size: 4rem;
}
.table {
  margin-bottom: 10px;
  width: 800px;
  height: 600px;
  font-family: "S-CoreDream-3Light";
}

.table > th,
td {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background-color: rgb(241, 227, 196);
  color: rgb(62, 43, 44);
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 7% auto auto;
}
.text-align {
  text-align: center;
}
.butten {
  font-size: 2rem;
  margin: 20px;
}
.w-btn {
  position: relative;
  border: none;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  margin-left: 150px;
}
.w-btn-green {
  background-color: #77af9c;
  color: #d7fff1;
}

.number {
  font-size: 1.5rem;
  color: white;
  background-color: rgb(141, 144, 142);
}
.question {
  font-size: 2.3rem;
  background-color: rgb(62, 43, 44);
  color: rgba(255, 255, 255, 0.7);
}

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
