* {
  border: 0px dotted gray;
  font-size: 10px;
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  margin: auto;
  padding: 0;
}
.topMenu {
  height: 50px;
  width: 1500px;
}
.topMenu > ul li {
  padding: 0;
  list-style: none;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  float: left;
  background-color: rgb(241, 227, 196);
}
.menulink {
  text-decoration: none;
  color: rgb(62, 43, 44);
  display: block;
  width: 200px;
  font-size: 2.3rem;
  font-weight: bold;
  font-family: "Trebuchet MS", Dotum, Arial;
}
.image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}
.text > div {
  text-align: center;
  font-size: 2rem;
}
.footer {
  width: 100%;
  height: 80px; /* footer의 높이 */
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(241, 227, 196);
  color: rgb(62, 43, 44);
}
.footer > div {
  font-size: 1.2rem;
  text-align: center;
  margin: 10px auto;
}
